body {
    margin: 0;
    background: #5c94fc;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}
canvas {
    display: block;
    margin: 0 auto;
    background: #111;
}

.instructions {
    margin-top: 10px;
}
